<%- include("partials/header.ejs") %>

<h1 style="color: red; text-align: center; margin: 50px 0;">
    ALERT!!!
    <br>
    THIS PAGE IS UNDER DEVELOPMENT!
    <br>
    KINDLY GO TO THE HOME PAGE
    <br>
    OR BROWSE THOUGH THE MOVIES!
</h1>
<form class="upload-container" method="post" action="/upload/movie">
    <div class="insert-video">
        <h3>Select the video you want to Upload<h3>
        <input type="file" id="file" name="newFile">
    </div>
    <div class="upload-buttons">
        <button class="upload">UPLOAD</button>
    </div>
</form>

<%- include("partials/footer.ejs") %>
