<%- include("partials/header.ejs") %>

<form class="upload-container" method="post" action="/upload/movie" enctype="multipart/form-data" accept="video/*">
    <div class="insert-video">
        <h3>Select the video you want to Upload<h3>
        <input type="file" id="file" name="newFile">
    </div>
    <div class="upload-buttons">
        <button class="upload" id="uploadbutton" type="submit">
            UPLOAD ⏏️
        </button>
    </div>
</form>

<%- include("partials/footer.ejs") %>
