
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Georama:wght@100..900&family=MuseoModerno:ital,wght@1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

.website-title {
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: italic;
    font-variation-settings: "wdth" 100;
}

@media (min-width:1201px) {
    .header-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: end;
        justify-content: space-between;
        background-color: black;
        border-radius: 10px;
        height: 35vh;
        padding-left: 15vw;
    }

    .website-title {
        margin-top: 30px;
    }

    .menu {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: black;
        border-radius: 10px;
        padding: 0 10px;
    }
}

@media (min-width:1250px) {
    .header-container {
        height: 35vh;
        padding-left: 20vw;
    }
}

.website-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 0 20px;
    height: 30vh;
}

.website-name:hover {
    text-shadow: 2px 2px 10px #6CC04A;
    z-index: 1;
}

.website-name > img{
    height: 30vh;
    margin-right: 10px;
}

.website-title {
    height: 30vh;
    font-size: 15rem;
    color: #E30B5C;
    margin-left: 10px;
}

.website-name:hover .website-title {
    color: #6CC04A;
    z-index: 1;
}

.menu > div {
    margin: 0 10px;
    padding: 0 10px;
    border-radius: 10px;
    background-color: black;
}

.menu h2 {
    color: #6CC04A;
    background-color: rgb(25, 25, 25);
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.7rem;
    padding: 0 10px 5px 10px;
    border-radius: 10px;
}

.menu h2:hover {
    background-color: black;
    color:#E30B5C;
    text-shadow: 2px 2px 5px #E30B5C;
    box-shadow: 2px 2px 6px 6px white;
    z-index: 1;
}

.search-bar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-block: 2%;
}

.search-bar:hover .search-text {
    box-shadow: 1px 1px 2px 2px white;
}

.search-bar:hover .search-submit {
    box-shadow: 1px 1px 2px 2px white;
}

.search-text {
    border: none;
    border-radius: 30px 0 0 30px;
    background-color: #6bc04a88;
    color: black;
    font-size: 1.4rem;
    padding-inline: 20px;
    height: 40px;
    width: 40%;
}

.search-text::placeholder {
    color: black;
}

.search-text:hover {
    background-color: whitesmoke;
}

.search-submit {
    border: none;
    border-radius: 0 30px 30px 0;
    background-color: #6CC04A;
    padding-top: 8px;
    padding-left: 6px;
    padding-right: 20px;
    margin-left: 1px;
    font-size: 1.4rem;
    height: 42px;
    width: 40px;
}

.search-submit:hover {
    background-color: #E30B5C;
}
