@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

.index-page {    
  font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.index-container > form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    position: relative;
    width: 80%;
    margin-left: 0;
}

@media (min-width: 1201px) {
    .index-page {
        height: 80vh;
    }

    .index-container > form {
        height: 70vh;
    }

    .thumbnail-home {
        height: 60vh;
    }

    .thumbnail-home > button {
        height: 60vh;
    }
}

.thumbnail-home > button {
    border: none;
    appearance: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    position: absolute;
    border-radius: 10px;
    width: 15vw;
    margin-inline: 0;
    margin-left: 2%;
}

.movie-thumbnail-1 > button {
    top: 1vh;
    left: 0vw;
}

.movie-thumbnail-2 > button {
    top: 1vh;
    left: 19vw;
}

.movie-thumbnail-3 > button {
    top: 1vh;
    left: 39vw;
}

.movie-thumbnail-4 > button {
    top: 1vh;
    left: 59vw;
}

.movie-thumbnail-5 > button {
    top: 1vh;
    left: 79vw;
}

button:hover > .media-icon {
    width: 14vw;
    top: 7.5vh;
    left: 0vw;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 2px 2px 6px 6px white;
}

.media-icon {
    width: 12vw;
    position: absolute;
    top: 10vh;
    left: 1vw;
}

.thumbnail-title {
    color: rgb(199, 199, 199);
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    display: block;
    position: absolute;
    bottom: 5vh;
    left: 1vh;
}

button:hover > .thumbnail-title {
    bottom: 5vh;
    left: 1vh;
    font-weight: 500;
    color: white;
}