@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

.movie-all-container {
    color: rgb(199, 199, 199);
    background-color: transparent;
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
}

.movie-all-container > form {
    display: flex;
    flex-wrap: wrap;
    min-inline-size: 1080px;
}

.movie-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 240px;
    border-radius: 20px;
}

.movie-container > button {
    color: rgb(199, 199, 199);
    background-color: transparent;
    border: none;
    margin: 2px;
}

.movie-container:hover {
    color: white;
    background-color: black;
    box-shadow: 2px 2px 6px 6px white;
    z-index: 1;
}
