@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

.upload-container {
    color: #6CC04A;
    background-color: black;
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.7rem;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 25px;
    height: 70vh;
}

.upload-buttons {
    margin: 5px;
    padding: 5px;
}

.upload {
    padding: 5px 20px 10px 20px;
    margin-bottom: 5px;
    border: none;
    border-radius: 30px;
    background-color: #6CC04A;
    color: black;
    font-weight: 900;
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.7rem;
}

.upload:hover {
    background-color: black;
    color:#6CC04A;
    text-shadow: 2px 2px 5px #6CC04A;
    box-shadow: 2px 2px 6px 6px white;
    z-index: 1;
}

#file {
    padding: 10px 10px 10px 20px;
    margin-bottom: 5px;
    border: none;
    border-radius: 30px;
    background-color: #6CC04A;
    color: black;
    font-weight: 900;
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.7rem;
}

#file:hover {
    background-color: black;
    color: #6CC04A;
    box-shadow: white 2px 2px 6px 6px;
    text-shadow: #6CC04A 2px 2px 5px;
}
